### Rules for Maven build
target
.class

### Rules for Eclipse environments
.settings
.classpath
.project

### Rules for IntelliJ IDEA environments
.idea
*.iml

### Rules log files and other temporary artefacts
*.log
*.tmp
*_hypoCountMap

### Embedded DB properties file
de.tudarmstadt.ukp.wikipedia.revisionmachine/src/test/resources/db/*.properties
