host=dbhost
db=revisiondb
user=username
password=pwd
output=outputFile
language=english
charset=UTF8 (or others) (optional)
pagebuffer=5000 (optional)
maxAllowedPackets=16760832 (optional)



!host=bender.ukp.informatik.tu-darmstadt.de
!db=revisiond
!user=student
!password=student
!language=english
!output=outputFile
!charset=UTF8
!pagebuffer=5000
!maxAllowedPackets=16760832

! Use ";" to separate elements in a list
!white_list=stub;months
!white_prefix_list=
!black_prefix_list=
!black_list=link_fa